html, #navbar{
    background-color: #fafafa;
}

#navbar{
    border-bottom: 1px solid #cccaca;
}

.column{
    border: 1px solid #cccaca;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #cccaca;
}